<div id="propertiesModal" class="modal modal-exit" style="display:none;">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Свойства</h3>
        </div>
        <div class="modal-body">
            <table>
                <tr>
                    <th>Путь</th>
                    <td id="propPath"></td>
                </tr>
                <tr>
                    <th>Размер</th>
                    <td id="propSize"></td>
                </tr>
                <tr>
                    <th>Создатель</th>
                    <td id="propCreator"></td>
                </tr>
                <tr>
                    <th>Дата создания</th>
                    <td id="propCreated"></td>
                </tr>
                <tr>
                    <th>Дата изменения</th>
                    <td id="propUpdated"></td>
                </tr>
            </table>
            <h4>Доступ</h4>
            <table id="propAccessTable">
                <thead>
                    <tr>
                        <th>Пользователь/Группа</th>
                        <th>Тип доступа</th>
                    </tr>
                </thead>
                <tbody id="propAccessBody"></tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closePropertiesModal()">Закрыть</button>
        </div>
    </div>
</div>
