@page "/Error"
@model FileManager.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<div style="text-align: center; padding: 50px;">
    <h1>Произошла ошибка</h1>
    <p>Извините, произошла неожиданная ошибка.</p>
    <a href="/" class="btn btn-primary">На главную</a>
</div>
