@page
@model IndexModel
@{
    ViewData["Title"] = "FileManager";
}

<div style="text-align: center; padding: 50px;">
    <h1>FileManager</h1>
    <p>Система управления файлами</p>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <p>Добро пожаловать, @User.Identity.Name!</p>
        <a href="/Files" class="btn btn-primary">Перейти к файлам</a>
        <a href="/Photos" class="btn btn-secondary ms-2">Фото</a>
        <a href="/Trash" class="btn btn-secondary ms-2">Корзина</a>
    }
    else
    {
        <p>Для работы с системой необходимо войти в систему</p>
        <a href="/Account/Login" class="btn btn-primary">Войти в систему</a>
    }
</div>